.footer {
  position: relative;
  background-image: url(../../public/icons/footer_bg_mobile.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Segoe UI";
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .footer {
    background-image: url(../../public/icons/footer_bg.svg);
    background-position: 100px 40px;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
