.footer {
  position: relative;
  background-image: url(../../public/icons/footer_bg_mobile.svg);
  background-position-y: 40px;
  background-position-x: center;
  background-repeat: no-repeat;
  font-family: "Segoe UI";
  color: #ffffff;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .footer {
    background-image: url(../../public/icons/footer_bg_tablet.svg);
    background-repeat: no-repeat;
    background-position: -5px 0;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    background-position: 60px 40px;
    background-image: url(../../public/icons/footer_bg.svg);
    background-size: cover;
  }
}
