@import "tailwindcss";

:root {
  --primary-color: #ff3300;
  --secondary-color: #ffffff;
  --text-color: #000000;
}

@font-face {
  font-family: "Brigends Expanded";
  src: url("/fonts/BrigendsExpanded.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

* {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-poppins), sans-serif;
}

.container {
  margin: 0 auto;
}

.brigendsExpanded {
  font-family: "Brigends Expanded";
}

button {
  cursor: pointer;
}

/* ========== NAVIGATION MODAL ========== */
.nav_modal {
  @apply fixed top-0 left-0 w-full h-screen z-30 transition-all duration-300;
  background-image: url("/images/nav_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.nav_link-active svg path {
  fill: var(--primary-color);
}

/* ========== CONTACT MODAL ========== */
.contact_modal {
  @apply relative px-5;

  &::after {
    @apply hidden;
    content: "";
  }

  &::before {
    @apply hidden;
    content: "";
  }
}

/* ========== BACKGROUND CLIP ========== */
.bg-clip {
  box-shadow: 0 0 0 100vmax var(--primary-color);
  background: var(--primary-color);
  clip-path: inset(0 -100vmax);
  padding: 5px 0 3px;
  height: fit-content;
  counter-reset: list-counter;
}

.bg-clip li {
  counter-increment: list-counter;
  padding-left: 40px;
  list-style: none;
  position: relative;
}

.bg-clip li::before {
  content: counter(list-counter) ".";
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-weight: bold;
  color: var(--secondary-color);
}

.bg-clip li:last-child {
  box-shadow: 0 0 0 100vmax var(--secondary-color);
  background: var(--secondary-color);
  clip-path: inset(0 -100vmax);
  color: var(--text-color);
  padding: 12px 40px 12px;
}

.bg-clip li:last-child::before {
  color: var(--text-color);
}

/* ========== SWIPER STYLES ========== */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  font-size: 18px;
  background: #fff;
  border-radius: 30px;
  width: 80% !important;
  height: auto !important;
  padding: 40px 30px;

  & h4 {
    color: #ff0000;
    font-family: "Brigends Expanded";
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.08em;
  }

  &:nth-child(even) {
    background: #ff0000;
    color: #fff;

    & h4 {
      color: #fff;
    }
  }
}

.swiper-button-prev,
.swiper-button-next {
  position: static !important;
  width: 36px !important;
  height: 36px !important;
  margin: 0 !important;

  & svg {
    width: 20px !important;
    height: 20px !important;
  }

  &::after {
    content: "" !important;
  }
}

/* ========== Drive page Styles ========== */
.drive_section_top {
  background: linear-gradient(90deg, #2a262c 0%, #f5f7f2 95%);
  transform: rotate(-180deg);
  width: 50%;
  height: 43px;
  position: absolute;
  top: 0;
  right: 0;
}

.drive_section_bottom {
  background: linear-gradient(90deg, #2a262c 0%, #2e454d 100%);
  transform: rotate(-180deg);
  width: 50%;
  height: 43px;
  position: absolute;
  bottom: 0;
  right: 0;
}

@media screen and (min-width: 768px) {
  .contact_modal {
    @apply relative px-5;

    &::after {
      @apply block absolute top-[35%] w-full h-0.5 bg-red-500;
      content: "";
    }

    &::before {
      @apply block absolute bottom-[35%] w-full h-0.5 bg-red-500;
      content: "";
    }
  }

  .swiper-slide {
    width: 30% !important;
  }
}

@media screen and (min-width: 1024px) {
  .swiper-slide {
    padding: 60px 40px;
  }
  .swiper-button-prev,
  .swiper-button-next {
    position: static !important;
    width: 60px !important;
    height: 60px !important;

    & svg {
      width: 40px !important;
      height: 40px !important;
    }
  }
}

@media screen and (min-width: 1280px) {
  .bg-clip {
    box-shadow: none;
    clip-path: none;
    padding: 5px 0 0;
    border-radius: 25px 25px 0 0;
    border: 5px solid var(--primary-color);
  }

  .bg-clip li:last-child {
    box-shadow: none;
    background: var(--secondary-color);
    clip-path: none;
  }

  .contact_modal {
    @apply relative;

    &::after {
      @apply absolute left-[30%] top-0 w-[2px] h-full bg-red-500;
      content: "";
    }

    &::before {
      @apply absolute right-[30%] top-0 w-[2px] h-full bg-red-500;
      content: "";
    }
  }
}
