@import "tailwindcss";

@font-face {
  font-family: "Brigends Expanded";
  src: url(../../public/fonts/Brigends\ Expanded.otf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Segoe UI";
  src: url(../../public/fonts/Segoe\ UI.ttf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Segoe UI";
  src: url(../../public/fonts/Segoe\ UI\ Semibold.ttf);
  font-style: 600;
  font-weight: normal;
}

@font-face {
  font-family: "Segoe UI";
  src: url(../../public/fonts/Segoe\ UI\ Bold.ttf);
  font-style: 700;
  font-weight: normal;
}

*::after,
*::before {
  scroll-behavior: smooth;
}

.container {
  margin: 0 auto;
}

.brigendsExpanded {
  font-family: "Brigends Expanded";
}

button {
  cursor: pointer;
}
