.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.logo {
  position: relative;
  background-image: url(../../public/icons/header_icons/logo_bg.svg);
  background-position-x: right;
  background-size: cover;
  background-repeat: no-repeat;

  & p {
    letter-spacing: 0.5em;
    text-align: center;
  }
}

.icon {
  transition: color 0.3s ease;

  & svg {
    width: 25px;
    height: 25px;

    & path {
      transition: fill 0.3s ease;
    }
  }

  &:hover {
    color: #ff3300;

    & svg {
      & path {
        fill: #ff3300;
      }
    }
  }
}
