.intro {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.third_section {
  background-image: url(../../public/images/section_bg-sm.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -5px -5px;
  padding: 80px 0;
}

.section_bottom_gradient {
  background: linear-gradient(90deg, #191e18 0%, #252525 100%);
}

.services {
  position: relative;
  overflow-x: hidden;
  padding: 50px 0;
}

.carriers {
  position: relative;
}

.ordered_list{
  counter-reset: custom-counter;
  list-style: none;

  li {
    counter-increment: custom-counter;
    position: relative;
    padding-left: 50px;
    margin-bottom: 16px;

    &::before {
      content: counter(custom-counter);
      position: absolute;
      left: 0;
      top: 0;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      border: 2px solid #ff0000;
      color: #ff0000;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      font-size: 14px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .third_section {
    background-image: url(../../public/images/section_bg-md.png);
    padding: 65px 0;
  }

  .services {
    padding: 140px 0;
  }
}

@media screen and (min-width: 1520px) {
  .third_section {
    background-image: url(../../public/images/section_bg.png);
  }
}
