.intro {
  background-image: url(../../public/images/homepage_hero.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.third_section {
  background-image: url(../../public/images/section_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -5px -5px;
  padding: 65px;
}

.section_bottom_gradient {
  background: linear-gradient(90deg, #191e18 0%, #252525 100%);
}

.services {
  position: relative;
  padding: 140px;
  overflow-x: hidden;
}

.carriers {
  position: relative;
}
